<div>
    <div class="card" style="height: 75vh">
        <div class="card-body">
            <div class="container">
                <div class="col p-2">
                    <div class="p-3 text-center">
                        <div class="p-3">
                            <h1>Diagital Library</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card container" style="width: 45vw; height: 32vh;">
                <div class="col p-2">
                    <div class="row p-3">
                        <div class="p-3">
                            <label class="col-3 mx-2 label-colour">UserName</label>
                            <input class="col-8" />
                        </div>
                        <div class="p-3">
                            <label class="col-3 mx-2 label-colour">Password</label>
                            <input class="col-8" />
                        </div>
                        <div class="p-3">
                            <label class="col-3 mx-2"></label>
                            <button class="col-8 btn btn-primary" (click)="redirectToHome()">Login</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>